<section class="footer">
    <div class="container text-center">
        <p class="footer--links">
            <a>About us</a> 
            <a>Contact us</a> 
            <a>Privacy policy</a> 
            <a>Terms and conditions</a> 
            <a>Cookie policy</a>

        </p>
        <p>Information within this website does not constitute financial advice. Please seek independent advice before
            considering any type of insurance services product. Actual available rate will depend upon your
            circumstances. <br/><br/>
            CompareExpatInsurance is a trading style of ClickTap Marketing.
        </p>
    </div>
</section>