.footer{
    *{font-size: 14px;}
    background: var(--footerBgColor);
    padding-top: 20px;
    padding-bottom: 20px;
    a{
        padding: 5px;
        color: var(--footerLinkTextColor);
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    .footer--links{
        margin-bottom: 10px;
    }
}

.cta-block{
    background: linear-gradient(to right, #58bafb 0%, #578af5 100%) ;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;

    h2{
        font-size: 28px;
        line-height: 1.2;
     
    }
    h6{font-size: 20px; 
           
         font-family: var(--bodyFont);
         margin-top: 20px;
         margin-bottom: 20px;
    }

    .btn-cta{
        border-radius: 30px;
        background: #FFF;
        color: #578af5;
        padding: 10px 20px;
        min-height: 60px;
        min-width: 240px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        box-shadow:10px 10px 0  #578af5;
        cursor: pointer;
        text-decoration: none;
    }
}