<main class="app">
  <router-outlet></router-outlet>
  <app-top-nav></app-top-nav>
  <section class="banner">
    <img class="banner--img" src="http://compare-expat-insurance.com/Content/images/expat1.jpg"
      alt="Get Quote for Expat Insurance" *ngIf="hideBannerImage">
      <div class="quoteBox__wrap">
    <div class="container">
      <div class="quoteBox">
        <div class="quoteBox--text-col">
          <h1>Health Insurance Designed for Expats</h1>
          <h4>We Help You Find the <strong>Right Health Insurance Plan</strong> that Suits Your Needs</h4>

        </div>

        <div class="quoteBox--form-col">
          <div class="formBox">form come here</div>
         </div>
      </div>
      </div>

    </div>
  </section>
  <app-insurance-providers></app-insurance-providers>
  <app-features></app-features>
  <app-reviews></app-reviews>
  <app-footer></app-footer>
</main>