<section class="container ourFeatures">
    <swiper class=" " [config]="swiperFeatures">
        <div class="ourFeatures--list swiper-slide">
            <span>
                <img src="../assets/affordable.svg">
            <h4>Affordable</h4>
            <p>Affordable overseas cover for individual and family
            </p>
            </span>
        </div>

        <div class="ourFeatures--list swiper-slide">
            <span>
                <img src="../assets/healthcare.svg">

            <h4>Top Hospitals</h4>
            <p>Get treated at private hospitals
            </p>
        </span>
        </div>

        <div class="ourFeatures--list swiper-slide">
            <span>
                <img src="../assets/best-seller.svg">

            <h4>Top Insurance Providers</h4>
            <p> Compare plans from top insurance providers</p>
        </span>
        </div>

    </swiper>
</section>