<section class="ourReviews">
    <div class="container ourReviews__container">

        <div class="ourReviews__img">
            <img src="../assets/our-reviews.jpg">
        </div>

        <div class="ourReviews__wrap">

            <h2> Our Testimonials</h2>
            <div class="ourReviews--list">
                <p>Very professional advice, straight forward and explained all about the policy. Highly recommend!</p>
                <p class="reviewer"><strong>George D,</strong> Bangkok</p>
            </div>

            <div class="ourReviews--list">
                <p>The advisor was patient and clear on all details about the plan including pros and cons of various
                    products that helped me a lot! Fantastic service!

                </p>
                <p class="reviewer"><strong>Lena W, </strong> Hong Kong</p>
            </div>

            <div class="ourReviews--list">
                <p>Really informative and friendly staff who was able to search a wide selections and found me a policy
                    that
                    suited our needs. No hassle at all.
                </p>
                <p class="reviewer"><strong>Debrena G, </strong> Bali</p>
            </div>
        </div>
    </div>
</section>

<section class="whyHealthInsurance">
    <div class="container">
        <h2>Do I need Expat Health Insurance?</h2>
        <p class="desc-text">The cost of doctors’ visits, medicines and medical tests can add up very quickly,
            especially if you are an
            expat living in another country and are not covered under the country’s health insurance plan. Being an
            expat brings along with it, its own set of challenges; your health should not be one. This is where Health
            Insurance steps in, so that one can have access to the best healthcare without fearing the financial strain.
            Guaranteeing you and your loved ones, the peace of mind everyone deserves.</p>

        <div class="whyHealthInsurance__wrap">
            <div class="whyHealthInsurance--list">

                <img src="../assets/world.svg" alt="International Coverage">
                <h4>International Coverage</h4>
                <p>If you are an individual who travels frequently, an international policy can provide
                    you with extensive health cover even when you are abroad. You may have travel insurance in place,
                    but bear in mind these policies are designed only for short visits and to cover for emergencies.
                </p>
            </div>
            <div class="whyHealthInsurance--list">
                <img src="../assets/safe.svg" alt="Tailor Made">


                <h4>Tailor Made</h4>
                <p>Individual private medical insurance (IPMI) policies are tailor made to fit the needs
                    of expats, as they take into account factors such as how pre-existing conditions are handled and if
                    there are any age restrictions.
                </p>
            </div>
            <div class="whyHealthInsurance--list">
                <img src="../assets/completed-task.svg" alt="All inclusive">

                <h4>All inclusive
                </h4>
                <p>Even if you are eligible for subsidized medical cover, most public healthcare
                    policies are not all-inclusive which means there are gaps in the coverage and certain treatments
                    might not be covered. An expat policy gives you thorough access to the finest healthcare amenities
                    in the country.
                </p>
            </div>
        </div>




    </div>
</section>